<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         executionOrder="random"
         failOnRisky="true"
         failOnWarning="true"
         convertDeprecationsToExceptions="true"
>
    <testsuites>
        <testsuite name="PhpSocks Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <report>
            <html outputDirectory="coverage" />
            <clover outputFile="coverage/clover.xml" />
        </report>
    </coverage>
</phpunit>
